body {
    background-image: url("https://img.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg?w=1480&t=st=1648679413~exp=1648680013~hmac=dd8ca44f8d5a80dd9fbb9414e808ea2e28c2b382e1502e1ede0a36d2f9990803");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {
    display: block;
    border: 3px solid black;
}
h1 {
    font-size: 100px;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
header img {
    width: 250px;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Add a black background color to the top navigation */
header nav {
    background-color: #333;
    overflow: hidden;
    right: 0;
    position: absolute;
}
/* Style the links inside the navigation bar */
header nav a {
  float: left;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
header nav a:hover {
  background-color: #ddd;
  color: black;
}
#mainProject:hover, .projects:hover {
  background-color: #ddd;
  color: black;
}
main {
    justify-content: space-around;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#work {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#aboutMe {
    border: 3px dashed black;
    width: 100%;
    padding: 20px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#mainProject {
    border: 3px dashed black;
    width: 100%;
    padding: 0 20px;
}
.mainProjectPic img {
  object-fit: cover;
}
.projects {
    border: 3px dashed black;
    width: 45%;
    padding: 0 20px;
    margin: 50px 0;
}
#aboutMe > h3 {
    font-size: 30px;
}
#work > h3 {
    font-size: 30px;
    border: none;
    margin-top: 40px;
}

main h3 {
    border: 3px solid black;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -15px;
    border-radius: 10px;
    background: white;
}


#mainProject img, .projects img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}
pre {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}
#aboutMe pre {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 25px;
}
footer {
    margin-top: auto;
    font-size: 20px;
    border: 3px solid black;
}

.footerTitle {
  padding: 10px;
  text-align: center;
}
.footerContainer address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footerContainer address a {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 2%;
  display: inline-block;

}


/* Tablets*/
@media screen and (max-width: 992px) {
      header {
        flex-direction: column;
      }
      main {
        max-width: 1200px;
      }
      footer {
        flex-direction: column;
      }
  }
  /* Large smartphones*/
  @media screen and (max-width: 768px) {
      header {
        flex-direction: column;
      }
      main {
        max-width: 1200px;
      }
      footer {
        flex-direction: column;
      }
    }
  /* Small smartphones*/
  @media screen and (max-width: 576px) {
      header {
        flex-direction: column;
      }
      main {
        max-width: 1200px;
      }
      footer {
        flex-direction: column;
      }
  }